/* tasko.css */
/* Généralité*/
h1
{
    text-align : center;
}
.bg-grey
{
    background-color: #eee;
}

.form-grid
{
    margin-top:1em;
    padding-top: 1.5em;
}
.grey-border
{
    border: 1px solid #ccc;
 }
 .arrondi
 {
border-radius : 10px;
 }
   .titrepage
{
    font-size : 1.5em;
}

/* Vue d'une tâche */
.titrenomtache
{
    font-size : 1.4em;
}

.titredesctache
{
    font-size : 0.9em;
}